<div class="!flex !justify-between !items-center">
    <span class="text-x1">Pedidos</span>
    <app-primary-button label="Criar rota" (btnClicked)="generateDeliveryRoute()"></app-primary-button>
</div>

<table mat-table [dataSource]="orders()" class="mat-elevation-z8">

    <ng-container matColumnDef="partner_order_number">
        <th mat-header-cell *matHeaderCellDef> Pedido Ifood </th>
        <td mat-cell *matCellDef="let element"> {{element.partner_order_number}} </td>
    </ng-container>

    <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef> Pedido </th>
        <td mat-cell *matCellDef="let element"> <ng-container *ngFor="let item of element.items"> {{item.name}} - {{item.quantity}} </ng-container> </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome do Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="created_date">
        <th mat-header-cell *matHeaderCellDef> Data do Pedido </th>
        <td mat-cell *matCellDef="let element"> {{element.created_date | date:'dd/MM/yyyy hh:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Endereço </th>
        <td mat-cell *matCellDef="let element"> {{element.address}}, {{element.address_number}} - {{element.neighborhood}} </td>
    </ng-container>

    <ng-container matColumnDef="postal_code">
        <th mat-header-cell *matHeaderCellDef> CEP </th>
        <td mat-cell *matCellDef="let element"> {{element.postal_code}} </td>
    </ng-container>

    <ng-container matColumnDef="complement">
        <th mat-header-cell *matHeaderCellDef> Complemento </th>
        <td mat-cell *matCellDef="let element"> {{element.complement}} </td>
    </ng-container>

    <ng-container matColumnDef="delivery_route">
        <th mat-header-cell *matHeaderCellDef> Rota de Entrega </th>
        <td mat-cell *matCellDef="let element"> {{element.delivery_route}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">  
            <button matFab aria-label="details">
                <mat-icon>article</mat-icon>
            </button>
        </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>