.sidenav-header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: orangered;
    font-weight: bold;
    font-size: 15pt;
}

mat-divider{
    color: rgb(113, 112, 116);
}